In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "./DataSources/Segmented/clustered_df_k_means.csv"
df = pd.read_csv(path)
df.head()

,transaction_id,order_value,category,recency,frequency,monetary,order_value_total,wallet_share_by_category,uid_without_string,hour_of_day,day_of_week,month,k_means
0,464050142633304,22.08,3,8,1,22.08,1164391.00,0.001896,6010732025283345,3,0,2,0
1,304050138039532,36.99,1,8,1,36.99,261796.18,0.014129,6010732026096480,3,0,2,1
2,384050128359200,180.44,3,8,1,180.44,1164391.00,0.015497,6010732026401300,3,0,2,1
3,384050123292049,270.00,1,8,3,611.13,261796.18,0.103134,6010732021856243,3,0,2,1
4,584050056781674,105.95,3,8,12,768.28,1164391.00,0.009099,6010732020290139,1,0,2,2

In [3]:
df.describe()

,transaction_id,order_value,category,recency,frequency,monetary,order_value_total,wallet_share_by_category,uid_without_string,hour_of_day,day_of_week,month,k_means
count,9.997000e+03,9997.000000,9997.000000,9997.000000,9997.000000,9997.000000,9.997000e+03,9997.000000,9.997000e+03,9997.000000,9997.000000,9997.000000,9997.000000
mean,4.327039e+14,165.570598,2.672102,203.220366,8.714314,1076.193099,9.547826e+05,0.050015,6.010732e+15,11.186556,2.707312,6.902971,1.006302
std,1.036652e+14,209.677692,0.858026,93.100474,12.702328,1669.186994,3.944390e+05,0.210711,1.856442e+06,7.092547,1.866053,3.022390,0.703177
min,3.030721e+14,0.010000,0.000000,8.000000,1.000000,0.010000,4.946460e+03,0.000027,6.010732e+15,0.000000,0.000000,1.000000,0.000000
25%,3.040452e+14,60.250000,3.000000,127.000000,1.000000,178.500000,1.164391e+06,0.006269,6.010732e+15,4.000000,1.000000,5.000000,1.000000
50%,3.840361e+14,119.000000,3.000000,210.000000,3.000000,459.670000,1.164391e+06,0.011593,6.010732e+15,14.000000,3.000000,7.000000,1.000000
75%,5.830731e+14,190.000000,3.000000,284.000000,10.000000,1238.610000,1.164391e+06,0.027748,6.010732e+15,15.000000,4.000000,9.000000,2.000000
max,5.840501e+14,4764.250000,4.000000,351.000000,78.000000,11573.950000,1.164391e+06,8.389838,6.010732e+15,23.000000,6.000000,12.000000,2.000000

# KM Cluster

In [7]:
df_cluster_0  = df[df['k_means'] == 0]
df_cluster_0

,transaction_id,order_value,category,recency,frequency,monetary,order_value_total,wallet_share_by_category,uid_without_string,hour_of_day,day_of_week,month,k_means
0,464050142633304,22.08,3,8,1,22.08,1164391.0,0.001896,6010732025283345,3,0,2,0
12,464049764999711,96.00,3,9,3,237.27,1164391.0,0.008245,6010732022960655,21,6,2,0
14,464049339484759,197.61,3,9,3,592.83,1164391.0,0.016971,6010732021329621,9,6,2,0
15,464049338634975,197.61,3,9,3,592.83,1164391.0,0.016971,6010732021329621,9,6,2,0
20,464049155817850,56.12,3,9,1,56.12,1164391.0,0.004820,6010732026262900,4,6,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9968,463073505490152,114.99,3,350,2,224.98,1164391.0,0.009876,6010732024192497,14,1,3,0
9976,463073173944582,387.25,3,350,1,387.25,1164391.0,0.033258,6010732026325475,4,1,3,0
9987,463072281058935,215.10,3,351,1,215.10,1164391.0,0.018473,6010732025917116,7,0,3,0
9994,463072111137846,91.98,3,351,8,618.87,1164391.0,0.007899,6010732021914109,3,0,3,0
9995,463072068007932,49.99,3,351,42,6135.33,1164391.0,0.004293,6010732021426575,1,0,3,0

In [9]:
df = df_cluster_0
# Normalize your metrics (You might want to adjust the normalization method)
df['Recency_Score'] = 1 / (1 + df['recency'])  # Assuming lower recency is better
df['Frequency_Score'] = (df['frequency'] - df['frequency'].min()) / (df['frequency'].max() - df['frequency'].min())
#['Spend_Score'] = (df['Total Spend by Customer'] - df['Total Spend by Customer'].min()) / (df['Total Spend by Customer'].max() - df['Total Spend by Customer'].min())
df['Wallet_Share_Merchant_Score'] = df['Wallet Share by Merchant%'] / 100  # Assuming it's in percent and normalizing
df['Wallet_Share_Category_Score'] = df['Wallet Share by category %'] / 100  # Assuming it's in percent and normalizing

# Composite Score - Feel free to adjust weights
df['Value_Score'] = (df['Recency_Score'] * 0.2) + (df['Frequency_Score'] * 0.2)  + \
                    (df['Wallet_Share_Merchant_Score'] * 0.2) + (df['Wallet_Share_Category_Score'] * 0.2)

/var/folders/20/rv098dm17pn4rlbzdlsk2c240000gn/T/ipykernel_78394/2343991542.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Recency_Score'] = 1 / (1 + df['recency'])  # Assuming lower recency is better
/var/folders/20/rv098dm17pn4rlbzdlsk2c240000gn/T/ipykernel_78394/2343991542.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Frequency_Score'] = (df['frequency'] - df['frequency'].min()) / (df['frequency'].max() - df['frequency'].min())

KeyError: 'Wallet Share by Merchant%'